
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
                        <!-- form handling -->
            <form action="/" method="POST">
                <input type="file" accept="video/mp4,video/x-m4v,video/*">
            </form>
        </div>

        
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->